@{
    ViewData["Title"] = "Игровой блог";
}

<div class="text-center">
    
    <h1 class="display-4">Добро пожаловать в геймерский блог</h1>
    <p>Этот блог содержит самую свежую информацию игрового мира. Новости игр, платформ, разработки!</a>.</p>
</div>
